<div class="clients">
  <h1>Our Clients Speak</h1>
  <div class="client_container">
    <div class="client">
      <div class="user">
        <img src="assets/Images/client.png" alt="" />
        <h2>Nutan Avhad</h2>
      </div>
      <div class="cont">
        <p>
          The best dentist ever i met. Explains the proper reason for the
          treatment. I am happy and satisfied with the result after the
          treatment.
        </p>
      </div>
    </div>
    <div class="client">
      <div class="user">
        <img src="assets/Images/client.png" alt="" />
        <h2>Rohit Andhale</h2>
      </div>
      <div class="cont">
        <p>
          The ambiance of the clinic is very warm and comfortable. The staff is
          polite and professional. Complies with all covid protocols, Highly
          recommended!
        </p>
      </div>
    </div>
    <div class="client">
      <div class="user">
        <img src="assets/Images/client.png" alt="" />
        <h2>Nutan Avhad</h2>
      </div>
      <div class="cont">
        <p>
          Wisdom tooth removal and root canal didn't hurt much. Dr.Prajakta is
          very delicate with the treatment.
        </p>
      </div>
    </div>
  </div>
</div>
