.aboutus {
  text-align: center;
  width: 96%;
  padding: 2%;
  h1 {
    font-size: 3em;
    font-weight: 900;
    position: relative;
    text-align: center;
    &::after {
      content: "";
      bottom: -10px;
      left: 45%;
      position: absolute;
      width: 10%;
      height: 10%;
      background-color: #01cfc9;
      border-radius: 25px;
    }
  }
  .about_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
    .au_left {
      width: 50%;
      img {
        width: 100%;
      }
    }
    .au_right {
      width: 45%;
      text-align: left;
      h3 {
        font-size: 2em;
        width: 75%;
        & + p {
          margin-bottom: 30px;
        }
      }
      h4 {
        font-size: 1.5em;
        color: #0096ff;
        width: 75%;
      }
      p {
        font-size: 1em;
        margin: 10px 0;
        width: 75%;
        // &:first-child {
        // }
      }
    }
  }
}
