<div class="aboutus" id="about">
  <h1>About Us</h1>
  <div class="about_content">
    <div class="au_left">
      <img src="assets/Images/Image.png" alt="" />
    </div>
    <div class="au_right">
      <h3>Best Dental Clinic That You Can Trust</h3>
      <p>
        Toothsmith Dental Clinic and Cosmetics is headed by Dr. Prajakta Palve
        Kekane with a vision to provide the most comfortable, advanced, precise
        and best of treatment. At Toothsmith Dental Clinic, we ensure the most
        effective, pain free and relaxing experience. Dr Prajakta and her team
        strive to deliver a personalised and comfortable dental care experience
        to everyone who chooses us.
      </p>
      <h4>Complete Dental Care</h4>
      <p>
        Our comprehensive services allow you to receive all the dental care
        right here in our state-of-art office – from dental cleanings and
        fillings to dental implants and extractions. We have everything you
        need!
      </p>
      <h4>Affordable Pricing</h4>
      <p>
        Your treatment plan will perfectly match your needs, lifestyle, and
        goals. Even if it has been years since you last visited the dentist, we
        can help you. Our comfortable office, compassionate team, and
        minimally-invasive treatments will help you feel completely at ease.
      </p>
      <p>
        We understand that the dental chair can bring in a lot of anxiety to
        some patients, but with our gentle dentist, amazing staff, state of the
        art facilities, you can leave all your fears at the door. Whether it’s
        cosmetic, paediatric, emergency, or general dentistry, we aim to give
        you an excellent service that is patient centred and sticks to our
        philosophy of treating every patient the way we would want to be
        treated.
      </p>
    </div>
  </div>
</div>
