<div class="contact">
  <div class="img_container">
    <img src="assets/Images/contact_logo.png" alt="" />
  </div>
  <div class="location">
    <h2>Location</h2>
    <p>
      Flat no 19, 5th floor, Sneh Avenue Opp Kalmadi School, Dr Ketkar Road,
      Prabhat Rd, Pune, Maharashtra 411004
    </p>
  </div>
  <div class="appointment">
    <button>Book An Appointment</button>
  </div>
  <div class="social">
    <h2>Follow Us</h2>
    <div class="icons">
      <a class="socail_icon"><img src="assets/Images/Vector.png" alt="" /></a>
      <a class="socail_icon"><img src="assets/Images/Frame.png" alt="" /></a>
    </div>
  </div>
</div>
