<div class="equipment" id="eqp" inViewport (inViewportAction)="view($event)">
  <div class="eq_parent" *ngIf="visible">
    <div class="parent_content">
      <div class="parent_bg">
        <img src="assets/Images/equipment.jpg" alt="" />
      </div>
      <div class="parent_cont">
        <h1>High End Equipments</h1>
      </div>
    </div>
    <div class="eq_child endo">
      <div class="bg">
        <img src="assets/Images/endodontic_equipment.gif" alt="" />
        <div class="content">
          <h2>Endodontic Equipment</h2>
        </div>
      </div>
    </div>
    <div class="eq_child opr">
      <div class="bg">
        <img src="assets/Images/Operatory_cabinent.gif" alt="" />
        <div class="content">
          <h2>Operatory Cabinetry</h2>
        </div>
      </div>
    </div>
    <div class="eq_child sur">
      <div class="bg">
        <img src="assets/Images/Surgical_Microscope.gif" alt="" />
        <div class="content">
          <h2>Surgical Microscopes</h2>
        </div>
      </div>
    </div>
    <div class="eq_child den">
      <div class="bg">
        <img src="assets/Images/dental_operatory_lights.gif" alt="" />
        <div class="content">
          <h2>Dental Operatory Lights</h2>
        </div>
      </div>
    </div>
  </div>
</div>
