<div class="banner">
  <div class="banner_left">
    <div class="bl_content">
      <p>Welcome To Toothsmith</p>
      <h1>Professional, Warm and Friendly Dental Care For You</h1>
      <a onclick="window.open('tel:+918411008866');" class="btn"
        >Make Appointment</a
      >
    </div>
    <div class="bl_contact">
      <div class="blc" onclick="window.open('tel:+918411008866');">
        <div class="blc_left">
          <img src="assets/Images/Vector-2.png" alt="" />
        </div>
        <div class="blc_right">
          <p>Contact</p>
          <p>+91 8411008866</p>
        </div>
      </div>
      <div class="blc">
        <div class="blc_left">
          <img src="assets/Images/Vector-3.png" alt="" />
        </div>
        <div class="blc_right">
          <p>Address</p>
          <p>
            Flat no 19, 5th floor, Sneh Avenue Opp Kalmadi School, Dr Ketkar
            Road, Prabhat Rd, Pune, Maharashtra 411004
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="banner_right">
    <img src="assets/Images/Mask_group.png" alt="" />
  </div>
</div>
