<div class="body_top_content" id="home">
  <a onclick="window.open('tel:+918411008866');" class="call">
    <img src="assets/Images/phone_icon.svg" alt="" />

    +91 8411008866
  </a>
  <a
    class="socail_icon"
    onclick="window.open('https://www.facebook.com/Toothsmith-Dental-Clinic-107263378364204/');"
    ><img src="assets/Images/Vector.png" alt=""
  /></a>
  <a
    class="socail_icon"
    onclick="window.open('https://www.instagram.com/toothsmith_dentalclinic/');"
    ><img src="assets/Images/Frame.png" alt=""
  /></a>
</div>
<app-header></app-header>
<app-banner></app-banner>
<app-counter></app-counter>
<app-aboutus></app-aboutus>
<div class="banner_cards">
  <div class="b_card">
    <img src="assets/Images/Group.svg" alt="" />
    <p>Satisfaction Guarantee</p>
  </div>
  <div class="b_card">
    <img src="assets/Images/Group-1.svg" alt="" />
    <p>Awesome Technology</p>
  </div>
  <div class="b_card">
    <img src="assets/Images/Frame.svg" alt="" />
    <p>Professional Dentist</p>
  </div>
</div>
<app-services></app-services>
<!-- <div class="youtube">
  <iframe src="../assets/Imag" frameborder="0"></iframe>
</div> -->
<app-equipment></app-equipment>
<app-clients> </app-clients>
<app-contact></app-contact>
<div class="footer">
  <p>ToothSmith Copyright &#169; 2022. All Rights Reserved.</p>
</div>
