.services {
  width: 100%;
  margin: 2em auto;
  text-align: center;
  .ser_content {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .card {
      position: relative;
      width: 30%;
      margin: 1em 0;
      &:not(:nth-child(3n)) {
        margin-right: 5%;
      }
      border-radius: 15px;
      -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
      background-color: #f4fcfc;
      height: max-content;
      z-index: 1;
      .card-bg {
        position: absolute;
        height: inherit;
        top: 10%;
        left: 0%;
        z-index: -1;
        opacity: 0.1;
        text-align: center;
        width: 100%;
        img {
          width: auto;
          margin: auto;
        }
      }
      .card-cont {
        // position: absolute;
        width: 70%;
        margin: 30% auto;
        z-index: 100;
        top: 30%;
        left: 15%;
        h3 {
          font-size: 1.2em;
          margin-bottom: 1em;
        }
        p {
          font-size: 1em;
        }
      }
      //   h3,
      //   p {
      //     width: calc(100% - 4em);
      //     margin: auto;
      //   }
    }
  }
}
